mixin slider-block()
	.slider-block.js-slider-block
		.slider-block__slider-wrapper.js-slider-block__slider-wrapper
		.slider-block__options
			label.slider-block__option
				span.slider-block__option-name min
				input.slider-block__min.js-slider-block__min(type="text")
			label.slider-block__option
				span.slider-block__option-name max
				input.slider-block__max.js-slider-block__max(type="text")
			label.slider-block__option
				span.slider-block__option-name from
				input.slider-block__from.js-slider-block__from(type="text")
			label.slider-block__option
				span.slider-block__option-name to
				input.slider-block__to.js-slider-block__to(type="text")
			label.slider-block__option
				span.slider-block__option-name step
				input.slider-block__step.js-slider-block__step(type="text")
			label.slider-block__option.slider-block__toogle
				input.slider-block__range.js-slider-block__range.toogle__input(type="checkbox")
				span.slider-block__option-name.toogle range
			label.slider-block__option.slider-block__toogle
				input.slider-block__vertical.js-slider-block__vertical.toogle__input(type="checkbox")
				span.slider-block__option-name.toogle vertical
			label.slider-block__option.slider-block__toogle
				input.slider-block__display-hint.js-slider-block__display-hint.toogle__input(type="checkbox")
				span.slider-block__option-name.toogle tip
			label.slider-block__option.slider-block__toogle
				input.slider-block__display-tracker.js-slider-block__display-tracker.toogle__input(type="checkbox")
				span.slider-block__option-name.toogle bar
			label.slider-block__option.slider-block__toogle
				input.slider-block__display-grid.js-slider-block__display-grid.toogle__input(type="checkbox")
				span.slider-block__option-name.toogle scale