mixin slider-block()
	.slider-block.js-slider-block
		.slider-block__slider-wrapper.js-slider-block__slider-wrapper
		.slider-block__options
			label.slider-block__option
				span.slider-block__option-name min
				input.slider-block__min.js-slider-block__min(type="text")
			label.slider-block__option
				span.slider-block__option-name max
				input.slider-block__max.js-slider-block__max(type="text")
			label.slider-block__option
				span.slider-block__option-name range
				input.slider-block__range.js-slider-block__range(type="checkbox")
			label.slider-block__option
				span.slider-block__option-name from
				input.slider-block__from.js-slider-block__from(type="text")
			label.slider-block__option
				span.slider-block__option-name to
				input.slider-block__to.js-slider-block__to(type="text")
			label.slider-block__option
				span.slider-block__option-name step
				input.slider-block__step.js-slider-block__step(type="text")
			label.slider-block__option
				span.slider-block__option-name vertical
				input.slider-block__vertical.js-slider-block__vertical(type="checkbox")
			label.slider-block__option
				span.slider-block__option-name tip
				input.slider-block__tip.js-slider-block__tip(type="checkbox")
			label.slider-block__option
				span.slider-block__option-name bar
				input.slider-block__bar.js-slider-block__bar(type="checkbox")
			label.slider-block__option
				span.slider-block__option-name scale
				input.slider-block__scale.js-slider-block__scale(type="checkbox")