- const blockModifiers = [];
- const { isVertical } = state;

if isVertical
  - blockModifiers.push('range-slider_orientation_vertical')
  - blockModifiers.push('js-range-slider_orientation_vertical')

.range-slider.js-range-slider(class=blockModifiers)
  .range-slider__track.js-range-slider__track