.range-slider__grid.js-range-slider__grid
  each tick in ticks
    .range-slider__grid-point.js-range-slider__grid-point(style=tick.position)
      span.range-slider__grid-tick.js-range-slider__grid-tick
      span.range-slider__grid-label.js-range-slider__grid-label= tick.value