@import '../../../app/styles/vars';

.slider-group {
  $blockClass: &;
  display: grid;
  grid-template-areas:
    'title title'
    'slider config';
  grid-column-gap: 2rem;
  grid-template-columns: 4fr 3fr;
  &__title {
    grid-area: title;
    grid-column-start: 2;
  }
  &__range-slider {
    grid-area: slider;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  &__config {
    font-weight: bold;
    font-family: monospace, sans-serif;
    grid-area: config;
    padding: 0.625rem 2rem 0.25rem 2rem;
    border: 1px solid $color-primary-75;
    border-radius: 1.25rem;
  }
  &_reversed {
    grid-template-areas:
      'title title'
      'config slider';
    grid-template-columns: 3fr 4fr;
    #{$blockClass}__title {
      align-self: flex-start;
      grid-column-start: 1;
    }
  }
  @media (max-width: 767px) {
    grid-template-areas:
      'title'
      'slider'
      'config';
    grid-template-rows: auto 25rem auto;
    grid-row-gap: 2rem;
    grid-template-columns: auto;
    &__title {
      grid-column-start: 1;
      margin: 0;
    }
    &__range-slider {
      border-radius: 1.25rem;
      border: 1px solid rgba(31, 32, 65, 0.75);
    }
  }
}