include ../slider-config/slider-config

mixin slider-group(options)
  - const modifiers = []
  - const { title, attr = {}, showConfig = true, reverse = false } = options || {};
  - const dataAttributes = Object.assign({}, ...Object.keys(attr).map(key => ({[`data-${key}`]: attr[key]})));

  if reverse === true
    - modifiers.push('slider-group_reversed')
  .slider-group.js-slider-group(class=modifiers)
    h3.slider-group__title= title
    .slider-group__range-slider
      input.slider-group__target-input.js-slider-group__target-input(type='range')&attributes(dataAttributes)
    if showConfig === true
      .slider-group__config
        +slider-config(attr)