@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "../app/styles/vars";
@import "./pages/demo-page/demo-page";

html {
  font-family: "Roboto", sans-serif;
  color: $color-primary-100;
  font-size: 16px;
}
