.range-slider {
  height: 10px;
  background: #ffffff;
  border: 2px solid rgba(31, 32, 65, 0.25);
  border-radius: 0.333333333rem;
  position: relative;
  margin: 0 10px;
  &__handle {
    width: 1.5rem;
    height: 1.5rem;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: -0.5625rem;
    cursor: pointer;
    margin-left: -0.75rem;
    z-index: 1;
  }
  &__handle_hidden {
    visibility: hidden;
  }
  &__hint {
    font-family: Roboto;
    font-size: 0.7rem;
    font-weight: bold;
    background: #49c2b2;
    border-radius: 0.333333333rem;
    color: #fff;
    text-align: center;
    position: absolute;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    white-space: nowrap;
    height: 1.3rem;
    box-sizing: border-box;
    bottom: calc(100% + 0.25rem);
  }
  &__hint_hidden {
    visibility: hidden;
  }
  &__tracker {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    position: absolute;
    border-radius: 0.333333333rem;
  }
  &__tracker_hidden {
    visibility: hidden;
  }
  &__grid {
    display: flex;
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 0.4rem;
    cursor: default;
  }
  &__grid_hidden {
    visibility: hidden;
  }
  &__grid-mark {
    position: absolute;
    transform: translateX(-50%);
    color: #a4a4a4;
    font-weight: bold;
  }
  &__grid-mark:first-child {
    transform: none;
  }
  &__grid-mark:last-child {
    transform: translateX(-100%);
  }
}
.range-slider_vertical {
  width: 10px;
  height: 25rem;
  margin: 20px auto;
}
.range-slider_vertical .range-slider__handle {
  left: -0.5325rem;
  margin-left: 0;
  margin-bottom: -0.75rem;
}
.range-slider_vertical .range-slider__hint {
  left: calc(100% + 0.25rem);
}
.range-slider_vertical .range-slider__track-bar {
  width: 100%;
}
.range-slider_vertical .range-slider__grid {
  flex-direction: column;
  width: 1.5rem;
  height: 100%;
  top: unset;
  margin-top: unset;
  right: 100%;
  margin-right: 0.8rem;
}
.range-slider_vertical .range-slider__grid-mark {
  transform: translateY(50%);
  right: 0;
}
.range-slider_vertical .range-slider__grid-mark:first-child {
  transform: none;
}
.range-slider_vertical .range-slider__grid-mark:last-child {
  transform: translateY(100%);
}
