.slider-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgba(97, 94, 94, 0.4);
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(97, 94, 94, 0.4);

  &__slider-wrapper {
    width: 50%;
    cursor: pointer;
  }
  &__options {
    width: 45%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-spacing: 0.5rem 0.1rem;
    margin: 1rem;
  }
  &__option {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #333;
    cursor: pointer;
    margin: 10px 5px;
    transition: box-shadow 0.3s ease-in;
    &:hover {
      -webkit-box-shadow: 0px 2px 11px 0px rgba(50, 50, 50, 0.73);
      -moz-box-shadow: 0px 2px 11px 0px rgba(50, 50, 50, 0.73);
      box-shadow: 0px 2px 11px 0px rgba(50, 50, 50, 0.73);
    }

    span {
      position: relative;
      top: -1px;
    }
  }
  &__option-name,
  &__min,
  &__max,
  &__range,
  &__from,
  &__to,
  &__step,
  &__vertical,
  &__display-hint,
  &__display-tracker,
  &__display-grid {
    margin: 10px 0;
    width: 40%;
    border: none;
    cursor: pointer;
  }
  &__min,
  &__max,
  &__range,
  &__from,
  &__to,
  &__step {
    text-align: center;
    border: 2px solid rgba(105, 105, 105, 0.7);
    border-radius: 5px;
  }
}

.toogle__input {
  -webkit-appearance: none;
  appearance: none;
  display: none;
  &:checked + .toogle::after {
    border: 1px solid #bc9cff;
  }
  &:checked + .toogle::before {
    background-color: #bc9cff;
    right: -66px;
  }
  &:checked + .toogle{
    color: #000;
  }
}
.toogle {
  color: rgba(31, 32, 65, 0.75);
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 20px;
    display: block;
    right: -70px;
    top: 56%;
    transform: translateY(-50%);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
  }
  &::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    right: -47px;
    top: 56%;
    transform: translateY(-50%);
    background-color: rgba(31, 32, 65, 0.75);
    border-radius: 10px;
    transition: 0.4s;
  }
}
.slider-block__toogle {
  justify-content: flex-start;
  padding-left: 13px;
}

@media only screen and (max-width: 720px) {
  .slider-block {
    flex-direction: column;
  }
}
@media only screen and (max-width: 720px) {
  .slider-block__slider-wrapper {
    width: 90%;
    margin: 3.25rem 1.375rem 1.75rem 1.375rem;
  }
  .slider-block__options {
    width: 70%;
  }
}
@media only screen and (max-width: 460px) {
  .slider-block__options {
    width: 100%;
  }
  .slider-block__option {
    width: 51%;
    margin: 5px auto;
  }
  .range-slider__grid-mark {
    font-size: 12px;
  }
}
