- const { value, value2 } = state;
-
  const classes = [
    'range-slider__bubble',
    'js-range-slider__bubble',
    'range-slider__bubble_type_range',
    'js-range-slider__bubble_type_range',
    'range-slider__bubble_hidden',
  ];

span(class=classes)= value === value2 ? value : `${value}-${value2}`